.speech{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.stage-direction{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: plum;
}
.name{
    font-size: 6px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.stage-direction:hover{
    background-color: palegoldenrod;
    color: #123456;
}
.RUMOUR
{
    color:thistle;
}
.LORD-BARDOLPH{
    color:hotpink;
}
.Porter{
    color: powderblue;
}
.NORTHUMBERLAND{
    color: thistle;
}
.TRAVERS
{
color:tomato;
}
.MORTON
{
    color: wheat;
}
table{
    text-align: center;
    width: 50%;
    margin: auto;
}
table,td,th{
    border: 3px solid teal;
    border-collapse: collapse;
}
td,th{
    padding: 10px;

}
th{
    background-color: turquoise;
    text-decoration: underline;
    color: greenyellow;
    font-size: large;
}
td{
    color: plum;
    margin: 1px;
}
tr:nth-child(even){
    background-color: paleturquoise;
}
tr:nth-child(odd){
    background-color: whitesmoke;
}





